body{
  background-color: blueviolet;
  margin: 0px;
  position: 0px;
 
}
html {
  height: 100%;
  width: 100%;
}
.but{
  background-color: navy;
  margin-left: 0px;
  //width: 50px;
  height:20px;
  //justify-content: center;

  padding-left: 0px;
}
.butp{
  align-items: center;
  justify-content: center;
  padding-left:35%;
  color: white;
}

button {
  margin-top: 0px;
  margin-left: 180px;
  margin-bottom: 20px;
  
  
  //display: flex;
  animation-name: ash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}
@keyframes ash{
  50%{
    opacity: 0.1;
  }
}
button:hover.stars{
  display: block;
  filter: drop-shadow(0 0 10px #fffdef);
  //opacity: 0.5;
  //blink: 0.5;
}
#g1 {
  height: 90px;
  //margin-top: 50px;
  border-style : double;
  border-color: white;
  border-radius: 30%;
  
}

#g2 {
  height: 90px;
  border-color: white;
  border-radius: 30%;
  border-style : double;
}

#g3 {
  height: 90px;
  border-color: white;
  border-radius: 30%;
  border-style : double;
}

.sh {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 80px;
  padding-left: 20px;
  padding-block: 20px;
  border-color: olive;
  //border-style: dotted;
  width: 2px;
  margin-left: 20px;
  //padding-inline-end: 10px;
  //display: inline;
  animation-name: ash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  


}
@keyframes ash{
  40%{
    opacity: 0.8;
  }
}
.sh:hover {
  opacity: 0.5;
  //background-color: whitesmoke;
}

.mo {
  display: flex;
  padding-left: 100px;
}

.as{
  display : flex;
  
  margin-bottom: 5px;
  //line-height: 1px;
  //border-style : dotted;
  height: 100px;
  width: 250px;
  justify-content: center;
  margin-left: 130px;
  margin-top: 50px;
  border-radius:50px;
  border-style: inset;
}

.co{
  display : flex;
  justify-content: center;
  border-style : inset;
  height: 100px;
  width: 250px;
  margin-left: 130px;
  border-radius:50px;
}

.scores{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}




